#Ignore Packages (too large for GitHub)
packages

#Ignore compile-cache
compile-cache

#Ignore Local Storage
storage

#Ignore .apm
.apm

#Ignore .node-gyp
.node-gyp

#Ignore blob-store directory
blob-store/
