"*":
  "atom-terminal":
    setWorkingDirectory: true
    surpressDirectoryArgument: false
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    maxVisibleSuggestions: 4
    suggestionListFollows: "Word"
  core:
    disabledPackages: [
      "terminal-status"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 128
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "b44988c5-51c9-a879-6ce4-37d7ffd92869"
  "git-plus": {}
  "markdown-pdf":
    format: "Letter"
    rendering: "Marked"
  "markdown-preview-plus": {}
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  metrics:
    userId: "6043788440efc131df7b0ab9b99103b97548b3bc"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
    scrollAnimation: true
  "release-notes":
    viewedVersion: "0.94.0"
  "spell-check": {}
  tabs:
    enableVcsColoring: true
  "terminal-status": {}
  "tree-view":
    hideIgnoredNames: true
    sortFoldersBeforeFiles: false
  welcome:
    showOnStartup: false
".fish.source":
  editor:
    preferredLineLength: 128
