"*":
  "Sublime-Style-Column-Selection":
    selectKeyTrigger: "Cmd"
  "atom-material-ui":
    colors:
      abaseColor: "#33a9f4"
      accentColor: "#fafb25"
    depth: true
    fonts: {}
    panelContrast: true
    tabs:
      compactTabs: true
    treeView:
      blendTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-terminal":
    setWorkingDirectory: true
    surpressDirectoryArgument: false
  "autocomplete-plus":
    confirmCompletion: "tab"
    enableAutoConfirmSingleSuggestion: false
    includeCompletionsFromAllBuffers: true
    maxVisibleSuggestions: 8
    suggestionListFollows: "Word"
  "autocomplete-python":
    useKite: false
  "color-picker":
    preferredFormat: "HEX"
    uppercaseColorValues: true
  core:
    disabledPackages: [
      "vim-mode"
      "line-ending-selector"
      "encoding-selector"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      "*.DS_Store"
      "._*"
      "*~"
    ]
    packagesWithKeymapsDisabled: [
      "atom-ctags"
    ]
    projectHome: "/Users/Joe/Desktop"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "mordor-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "menlo"
    invisibles: {}
    preferredLineLength: 256
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "b44988c5-51c9-a879-6ce4-37d7ffd92869"
  "file-icons": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "grammar-selector": {}
  "imdone-atom":
    openIn: {}
  "markdown-pdf":
    format: "Letter"
    rendering: "Marked"
  "markdown-preview":
    breakOnSingleNewline: true
    openPreviewInSplitPane: false
  "markdown-preview-plus": {}
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  metrics:
    userId: "6043788440efc131df7b0ab9b99103b97548b3bc"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
    scrollAnimation: true
  "one-dark-ui":
    layoutMode: "Compact"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    supportedFiletypes: [
      "*.less"
      "*.css"
      "*.html"
      "*.js"
    ]
  "release-notes":
    viewedVersion: "0.94.0"
  "spell-check": {}
  tabs:
    enableVcsColoring: true
  term3:
    colors:
      background: "#1f1f1f"
    titleTemplate: "Terminal"
  "terminal-status": {}
  "tree-view":
    hideIgnoredNames: true
    sortFoldersBeforeFiles: false
  "vim-mode": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnlyLines: true
