packages: [
  "atom-dark-fusion-syntax"
  "atom-fuzzy-grep"
  "atom-material-syntax"
  "atom-material-ui"
  "auto-indent"
  "autocomplete-paths"
  "autocomplete-python"
  "color-picker"
  "file-icons"
  "git-time-machine"
  "gitignore-snippets"
  "hex"
  "highlight-selected"
  "Hydrogen"
  "language-arm"
  "language-awk"
  "language-cmake"
  "language-fish-shell"
  "language-gitignore"
  "language-latex"
  "language-tcl"
  "language-vhdl"
  "markdown-pdf"
  "markdown-preview-plus"
  "markdown-toc"
  "merge-conflicts"
  "minimap"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-selection"
  "monokai"
  "mordor-syntax"
  "octocat-syntax"
  "package-sync"
  "pdf-view"
  "pigments"
  "Sublime-Style-Column-Selection"
  "term3"
  "vim-mode"
]
