packages: [
  "advanced-open-file"
  "atom-dark-fusion-syntax"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-ui"
  "atom-terminal"
  "auto-indent"
  "autocomplete-paths"
  "autocomplete-python"
  "color-picker"
  "file-icons"
  "git-diff-details"
  "git-plus"
  "gitignore-snippets"
  "highlight-selected"
  "imdone-atom"
  "language-arm"
  "language-awk"
  "language-fish-shell"
  "language-gitignore"
  "language-latex"
  "language-tcl"
  "language-vhdl"
  "markdown-pdf"
  "markdown-preview-plus"
  "markdown-toc"
  "merge-conflicts"
  "minimap"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-selection"
  "monokai"
  "mordor-syntax"
  "octocat-syntax"
  "package-sync"
  "pdf-view"
  "seti-syntax"
  "seti-ui"
  "sort-lines"
  "split-diff"
  "terminal-status"
  "test-syntax"
]
